# Gradle
.gradle/
build/

# Local config
local.properties

# IDE
.idea/
*.iml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# APK / Bundle
*.apk
*.aab

# Firebase
google-services.json

# Keystore
*.jks
*.keystore

# Native build
.externalNativeBuild/
.cxx/

# Screenshots
captures/
